{% set navigation = navigation('primary').getIterator() %}
<header class="bg-white dark:bg-slate-800 z-[1024] relative shadow-lg sticky top-0">
    <nav id="navigation" class="container mx-auto" aria-label="Top">
        <div class="flex w-full items-center justify-center py-4 sm:justify-between">
            <a href="{{ site_url }}" rel="nofollow">
                <span class="sr-only">{{ site_title }}</span>
                <img class="h-14 w-auto" src="{{ asset('images/logo.png', 'theme') }}" alt="{{ site_title }} Logo" />
            </a>
            <div class="flex items-center">
                <div class="relative hidden md:flex items-center relative">
                    <nav>
                        <ul class="flex items-center gap-x-8">
                            {% for nav in navigation %}
                                {% set link = permalink(nav) %}
                                {% set compare = compare_url(link) %}
                                <li class="relative {% if compare %} after:border-primary after:border-b-[3px] after:w-full after:absolute after:left-0 after:bottom-[-1.5rem] {% endif %}">
                                    <a href="{{ link }}"
                                       class="text-base font-medium {% if compare %} text-primary {% else %} text-slate-900 dark:text-slate-200 {% endif %} hover:text-primary">{{ nav.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div x-data="Components.theme({ open: false, focus: false })" x-init="init()" @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup"
                         class="relative flex items-center border-l border-slate-200 ml-6 pl-6 dark:border-slate-900">
                        <button aria-label="Switch Theme" type="button" aria-expanded="false" @click="toggle" @mousedown="if (open) $event.preventDefault()" :aria-expanded="open.toString()">
                            <span>
                                <svg :class="{'hidden': $store.theme.system=='Dark'}" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="w-6 h-6 mr-2">
                                    <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                          class="stroke-slate-400 dark:stroke-slate-500"
                                          :class="{'!fill-indigo-400/20 !fill-primary':$store.theme.current=='Light'}"></path>
                                    <path d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"
                                          class="stroke-slate-400 dark:stroke-slate-500"
                                          :class="{'!stroke-primary':$store.theme.current=='Light'}"></path>
                                </svg>
                                <svg :class="{'hidden': $store.theme.system!='Dark'}" viewBox="0 0 24 24" fill="none" class="hidden w-6 h-6 mr-2">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
                                          class="fill-transparent"
                                          :class="{'!fill-indigo-400/20':$store.theme.current=='Dark'}"></path>
                                    <path d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
                                          class="fill-slate-400 dark:fill-slate-500"
                                          :class="{'!fill-primary':$store.theme.current=='Dark'}"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
                                          class="fill-slate-400 dark:fill-slate-500"
                                          :class="{'!fill-primary':$store.theme.current=='Dark'}"></path>
                                </svg>

                            </span>
                        </button>
                        <ul :class="{'hidden':!(open)}"
                            class="absolute hidden z-50 top-full right-0 bg-white rounded-lg ring-1 ring-slate-900/10 shadow-lg overflow-hidden w-36 py-1 text-sm text-slate-700 font-semibold dark:bg-slate-800 dark:ring-0 dark:highlight-white/5 dark:text-slate-300 mt-8"
                            aria-orientation="vertical"
                            role="listbox" tabindex="0">
                            <li class="py-1 px-2 flex items-center cursor-pointer dark:bg-slate-600/30"
                                role="option" tabindex="-1" aria-selected="false"  @click="toggleTheme" :class="{'text-primary bg-slate-50 dark:bg-slate-600/30': $store.theme.current=='Light'}">
                                <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="w-6 h-6 mr-2">
                                    <path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                          class="stroke-slate-400 dark:stroke-slate-500"
                                          :class="{'!fill-indigo-400/20 !fill-primary':$store.theme.current=='Light'}"></path>
                                    <path d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"
                                          class="stroke-slate-400 dark:stroke-slate-500"
                                          :class="{'!stroke-primary':$store.theme.current=='Light'}"></path>
                                </svg>
                                Light
                            </li>
                            <li class="py-1 px-2 flex items-center cursor-pointer dark:bg-slate-600/30"
                                role="option" tabindex="-1" aria-selected="false" @click="toggleTheme" :class="{'text-primary bg-slate-50 dark:bg-slate-600/30': $store.theme.current=='Dark'}">
                                <svg viewBox="0 0 24 24" fill="none" class="w-6 h-6 mr-2">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
                                          class="fill-transparent"
                                          :class="{'!fill-indigo-400/20':$store.theme.current=='Dark'}"></path>
                                    <path d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
                                          class="fill-slate-400 dark:fill-slate-500"
                                          :class="{'!fill-primary':$store.theme.current=='Dark'}"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
                                          class="fill-slate-400 dark:fill-slate-500"
                                          :class="{'!fill-primary':$store.theme.current=='Dark'}"></path>
                                </svg>
                                Dark
                            </li>
                            <li class="py-1 px-2 flex items-center cursor-pointer"
                                role="option" tabindex="-1" aria-selected="true" @click="toggleTheme" :class="{'text-primary bg-slate-50 dark:bg-slate-600/30': $store.theme.current=='System'}">
                                <svg viewBox="0 0 24 24" fill="none" class="w-6 h-6 mr-2">
                                    <path d="M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6Z" stroke-width="2"
                                          stroke-linejoin="round"
                                          class="stroke-slate-400 dark:stroke-slate-500"
                                          :class="{'!stroke-primary !fill-indigo-400/20':$store.theme.current=='System'}"></path>
                                    <path d="M14 15c0 3 2 5 2 5H8s2-2 2-5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                          class="stroke-slate-400 dark:stroke-slate-500"
                                          :class="{'!stroke-primary':$store.theme.current=='System'}"></path>
                                </svg>
                                System
                            </li>
                        </ul>
{#                        <a href="#"#}
{#                           class="ml-6 inline-block rounded-md border border-transparent bg-primary py-2 px-4 text-base font-medium text-white hover:bg-opacity-75">Sign in</a>#}
{#                        <a href="#"#}
{#                           class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium text-indigo-600 hover:bg-indigo-50">Sign up</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center gap-x-6 py-4 sm:hidden">
            {% for nav in navigation %}
                {% set link = permalink(nav) %}
                {% set compare = compare_url(link) %}
                <a href="{{ link }}"
                   class="text-base font-medium {% if compare %} text-primary {% else %} text-slate-900 dark:text-slate-200 {% endif %} hover:text-primary">{{ nav.title }}</a>
            {% endfor %}
        </div>
    </nav>
</header>
