{% set keyword = site_keywords|default('')|split(',')[0] %}
<div id="rightSidebar" class="w-full flex flex-col ml-0 md:ml-5 lg:w-96 mt-8 md:mt-0">
    {% if activated_route.isAuthor() %}
        {% set authorEntities = widget('high_author_posts', {author: entity.id}) %}
        {% if authorEntities %}
            <div class="bg-white  dark:bg-slate-800 rounded-md">
                <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                    <h3 class="text-lg font-medium leading-6 text-slate-700 dark:text-slate-300">{{ entity.nickname }}最受欢迎{{ keyword }}</h3>
                </div>
                <ul>
                {% for item in authorEntities %}
                    <li class="truncate px-4 py-2 border-b border-slate-200 dark:border-slate-900 last:border-0 flex items-center">
                        <span class="block rounded-full  w-5 h-5 text-white text-center {% if loop.index == 1 %} bg-yellow-500 {% elseif loop.index == 2 %} bg-stone-300 {% elseif loop.index == 3 %} bg-amber-900 {% endif %}">{% if loop.index < 4 %}{{ loop.index }}{% endif %}</span>
                        <h3 class="truncate text-base leading-8 text-slate-900 dark:text-slate-400 ml-2">
                            <a class="hover:underline" href="{{ permalink(item) }}">{{ item.getTitle() }}</a>
                        </h3>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
    <div class="bg-white dark:bg-slate-800 rounded-md {% if activated_route.isAuthor() %} mt-8 {% endif %}">
        <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
            <h3 class="text-lg font-medium leading-6 text-slate-700 dark:text-slate-300">最受欢迎的{{ keyword }}</h3>
        </div>
        <div>
            <ul>
                {% set entities = widget('high_posts') %}
                {% for item in entities %}
                    <li class="truncate px-4 py-2 border-b border-slate-200 dark:border-slate-900 last:border-0 flex items-center">
                        <span class="block rounded-full w-5 h-5 text-white text-center {% if loop.index == 1 %} bg-yellow-500 {% elseif loop.index == 2 %} bg-stone-300 {% elseif loop.index == 3 %} bg-amber-900 {% endif %}">{% if loop.index < 4 %}{{ loop.index }}{% endif %}</span>
                        <h3 class="truncate text-base leading-8 text-slate-900 dark:text-slate-400 ml-2">
                            <a class="hover:underline" href="{{ permalink(item) }}">{{ item.getTitle() }}</a>
                        </h3>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="bg-white dark:bg-slate-800 rounded-md mt-8">
        <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
            <h3 class="text-lg font-medium leading-6 text-slate-700 dark:text-slate-300">热门标签</h3>
        </div>
        {% set colors = {'indigo':'bg-indigo-500', 'rose':'bg-rose-500', 'pink':'bg-pink-500', 'fuchsia':'bg-fuchsia-500', 'purple':'bg-purple-500', 'violet':'bg-violet-500', 'blue':'bg-blue-500', 'green':'bg-green-500', 'cyan':'bg-cyan-500', 'teal':'bg-teal-500', 'emerald':'bg-emerald-500', 'lime':'bg-lime-500', 'yellow':'bg-yellow-500', 'amber':'bg-amber-500', 'orange':'bg-orange-500', 'red':'bg-red-500'}  %}
        {% set colorNames = colors|keys %}
        {% set length = colorNames|length %}
        <div class="flex px-4 py-2 flex-row flex-wrap mx-[-0.5rem] my-[-0.35rem]">
            {% for item in widget('high_taxonomies', {limit: 52}) %}
                {% set name = colorNames[loop.index % length] %}
                <a class="rounded-full {{ colors[name] }} mx-2 my-1.5 block px-2.5 py-1 text-slate-200" href="{{ permalink(item) }}">
                    {{ item.getName() }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
