{% extends layout %}

{% block body %}
    {% set keyword = site_keywords|default('')|split(',')[0] %}
    <section>
        <div class="isolate px-6 pt-14 lg:px-8">
            <div class="mx-auto max-w-3xl">
                {{ widget('breadcrumb', {template: 'summer/breadcrumb.html.twig'}) }}
            </div>
        </div>
        {% set author = entity.getAuthor() %}
        <div class="relative isolate px-6 pt-4 lg:px-8">
            <div class="relative mx-auto max-w-3xl overflow-hidden">
                <div class="py-8 bg-white dark:bg-slate-800 rounded-md">
                    <article id="articleProse" class="prose prose-slate dark:prose-invert ck-content p-4 line-numbers max-w-none">
                        <header class="mb-4 lg:mb-6 not-format">
                            <address class="flex items-center mb-6 not-italic">
                                <div class="inline-flex items-center mr-3 text-sm text-slate-900 dark:text-white">
                                    <img class="mr-4 w-16 h-16 rounded-full" src="{{ author.getAvatar() }}" alt="{{ author.getNickname() }}">
                                    <div>
                                        <a href="{{ permalink(author) }}" rel="author" class="text-xl font-bold text-slate-900 dark:text-slate-200">{{ author.getNickname() }}</a>
                                        <p class="py-0 my-0 text-base font-light text-slate-500 dark:text-slate-400">全干工程师</p>
                                        <p class="py-0 my-0 text-base font-light text-slate-500 dark:text-slate-400">
                                            {% set date = entity.ModifiedAt()|date('Y/m/d H:i') %}
                                            <time pubdate datetime="{{ date }}" title="{{ date }}">{{ date }}</time>
                                        </p>
                                    </div>
                                </div>
                            </address>
                            <h1 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-200">{{ entity.title }}</h1>
                        </header>
                        {{ entity.content|raw }}
                    </article>
                </div>
                {% set tags = entity.getTags() %}
                {% set tagSets = [] %}
                {% if tags|length > 0 %}
                <div class="mt-4 text-center">
                    <ul class="flex justify-center flex-wrap">
                        {% for tag in tags %}
                        {% set tagSets = tagSets|merge([tag.getId()])%}
                        <li class="text-white dark:text-slate-400 bg-primary dark:bg-slate-800 dark:border-slate-800 border border-primary hover:bg-primary/90 dark:hover:bg-slate-800/90 rounded-lg mx-2 px-2">
                            <a class="tag" href="{{ permalink(tag) }}" target="_blank">{{ tag.getName() }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% set authorEntities = widget('high_author_posts', {author: author.id}) %}
                <div class="bg-white  dark:bg-slate-800 rounded-md mt-16">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <div class="flex justify-between items-center">
                            <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">{{ author.getNickname() }}最受欢迎{{ keyword }}</h3>
                            <div class="flex"></div>
                        </div>
                    </div>
                    <div>
                    <ul>
                        {% for item in authorEntities %}
                            <li class="truncate px-4 py-2 border-b border-slate-200 dark:border-slate-900 last:border-0 flex items-center">
                                <span class="block rounded-full  w-5 h-5 text-white text-center {% if loop.index == 1 %} bg-yellow-500 {% elseif loop.index == 2 %} bg-stone-300 {% elseif loop.index == 3 %} bg-amber-900 {% endif %}">{% if loop.index < 4 %}{{ loop.index }}{% endif %}</span>
                                <h3 class="truncate text-base leading-8 text-slate-900 dark:text-slate-400 ml-2">
                                    <a class="hover:underline" href="{{ permalink(item) }}">{{ item.getTitle() }}</a>
                                </h3>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>

                <div class="bg-white dark:bg-slate-800 rounded-md mt-16">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <div class="flex justify-between items-center">
                            <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">最受欢迎{{ keyword }}</h3>
                            <div class="flex"></div>
                        </div>
                    </div>
                    <div>
                        <ul>
                            {% set entities = widget('high_posts') %}
                            {% for item in entities %}
                                <li class="truncate px-4 py-2 border-b border-slate-200 dark:border-slate-900 last:border-0 flex items-center">
                                    <span class="block rounded-full w-5 h-5 text-white text-center {% if loop.index == 1 %} bg-yellow-500 {% elseif loop.index == 2 %} bg-stone-300 {% elseif loop.index == 3 %} bg-amber-900 {% endif %}">{% if loop.index < 4 %}{{ loop.index }}{% endif %}</span>
                                    <h3 class="truncate text-base leading-8 text-slate-900 dark:text-slate-400 ml-2">
                                        <a class="hover:underline" href="{{ permalink(item) }}">{{ item.getTitle() }}</a>
                                    </h3>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="bg-white dark:bg-slate-800 rounded-md mt-16">
                    <div class="border-b border-slate-200 dark:border-slate-900 px-4 py-5">
                        <div class="flex justify-between items-center">
                            <h3 class="text-lg font-medium leading-8 text-slate-700 dark:text-slate-300">相关{{ keyword }}推荐</h3>
                            <div class="flex"></div>
                        </div>
                    </div>
                    <div>
                        <ul>
                            {% set entities = get_taxonomy_posts(tagSets, {limit: 20}) %}
                            {% for item in entities %}
                                <li class="truncate px-4 py-2 border-b border-slate-200 dark:border-slate-900 last:border-0 flex items-center">
                                    <h3 class="truncate text-base leading-8 text-slate-900 dark:text-slate-400">
                                        <a class="hover:underline" href="{{ permalink(item) }}">{{ item.getTitle() }}</a>
                                    </h3>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                {% set previousNextWg = widget('previous_next', {entity: entity}) %}
                {% if previousNextWg %}
                    {% set previousNext = previousNextWg.getContext() %}
                    <div class="flex justify-between mt-2 flex-col sm:flex-row">
                        {% if previousNext['previous'] %}
                            <span class="text-slate-700 dark:text-slate-300">
                                上一篇:
                                <a class="hover:underline" href="{{ permalink(previousNext['previous']) }}">
                                    {{ previousNext['previous'].getTitle() }}
                                </a>
                            </span>
                        {% endif %}
                        {% if previousNext['next'] %}
                            <span class="text-slate-700 dark:text-slate-300">
                                下一篇:
                                <a class="hover:underline" href="{{ permalink(previousNext['next']) }}">
                                    {{ previousNext['next'].getTitle() }}
                                </a>
                            </span>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('js/prismjs.js', 'theme') }}"></script>
{% endblock %}
