{% extends '@OctopusPress/base.html.twig' %}
{% block header %}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ asset('assets/css/tools.css') }}" />
<style>
    .json-formatter-toggler {
        position: relative !important;
    }
    .json-formatter-dark.json-formatter-row .json-formatter-string, .json-formatter-row .json-formatter-string {
        white-space: inherit !important;
        overflow-wrap: inherit !important;
        word-break: inherit !important;
    }
    .json-formatter-row .json-formatter-toggler:after {
        width: 16px;
        height: 16px;
        content: url("{{ asset('images/arrow-right.svg', 'theme') }}") !important;
    }
    .json-formatter-dark.json-formatter-row .json-formatter-toggler:after {
        width: 16px;
        height: 16px;
        content: url("{{ asset('images/dark-arrow-right.svg', 'theme') }}") !important;
    }

</style>
{% endblock %}
{% block body %}
    <div class="w-screen mx-auto my-2 md:px-3 lg:px-8">
        <div class="isolate pt-2 px-4">
            {{ widget('breadcrumb', {template: 'summer/breadcrumb.html.twig'}) }}
        </div>
        <h2 class="sr-only">{{ tool['name'] }}</h2>
        <div class="flex">
            <div class="flex-1 px-4 mt-2">
                <div class="flex items-stretch overflow-hidden">
                    <div class="flex-1 shrink-0" id="inputContainer">
                        <label>
                            <textarea id="inputJson" class="h-[calc(100vh-10.75rem)] w-full rounded-md scrollable bg-slate-100 dark:bg-slate-800 dark:text-slate-300 border-transparent focus:bg-white focus:ring-0 focus:border-primary focus:dark:bg-slate-900/80" placeholder="输入json..."></textarea>
                        </label>
                    </div>
                    <div class="w-1 hidden xl:block"></div>
                    <div class="flex-1 hidden xl:block" id="outputContainer">
                        <div class="flex flex-col relative h-[calc(100vh-10.75rem)]">
                            <div id="toolbar" class="flex py-2 items-center w-full bg-slate-300 dark:bg-slate-700 rounded-t-md">
                                <button title="展开" class="w-5 mx-2" aria-label="展开" id="expandJson">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="fill-slate-700 dark:fill-slate-200" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="expand"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M20 5a1 1 0 0 0-1-1h-5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.42V10a1 1 0 0 0 1 1 1 1 0 0 0 1-1z"/><path d="M10.71 13.29a1 1 0 0 0-1.42 0L6 16.57V14a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2H7.42l3.29-3.29a1 1 0 0 0 0-1.42z"/></g></g></svg>
                                </button>
                                <button title="全屏" class="w-5 mx-2" aria-label="全屏" id="containerFull">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="fill-slate-700 dark:fill-slate-200 rotate-45" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="move"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><path d="M21.71 11.31l-3-3a1 1 0 0 0-1.42 1.42L18.58 11H13V5.41l1.29 1.3A1 1 0 0 0 15 7a1 1 0 0 0 .71-.29 1 1 0 0 0 0-1.42l-3-3A1 1 0 0 0 12 2a1 1 0 0 0-.7.29l-3 3a1 1 0 0 0 1.41 1.42L11 5.42V11H5.41l1.3-1.29a1 1 0 0 0-1.42-1.42l-3 3A1 1 0 0 0 2 12a1 1 0 0 0 .29.71l3 3A1 1 0 0 0 6 16a1 1 0 0 0 .71-.29 1 1 0 0 0 0-1.42L5.42 13H11v5.59l-1.29-1.3a1 1 0 0 0-1.42 1.42l3 3A1 1 0 0 0 12 22a1 1 0 0 0 .7-.29l3-3a1 1 0 0 0-1.42-1.42L13 18.58V13h5.59l-1.3 1.29a1 1 0 0 0 0 1.42A1 1 0 0 0 18 16a1 1 0 0 0 .71-.29l3-3A1 1 0 0 0 22 12a1 1 0 0 0-.29-.69z"/></g></g></svg>
                                </button>
                                <button title="复制" class="w-5 mx-2" aria-label="复制" id="copy">
                                    <svg  class="fill-slate-700 dark:fill-slate-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="copy"><rect width="24" height="24" opacity="0"/><path d="M18 21h-6a3 3 0 0 1-3-3v-6a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3zm-6-10a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1z"/><path d="M9.73 15H5.67A2.68 2.68 0 0 1 3 12.33V5.67A2.68 2.68 0 0 1 5.67 3h6.66A2.68 2.68 0 0 1 15 5.67V9.4h-2V5.67a.67.67 0 0 0-.67-.67H5.67a.67.67 0 0 0-.67.67v6.66a.67.67 0 0 0 .67.67h4.06z"/></g></g></svg>
                                </button>
                                <button title="清空" class="w-5 mx-2" aria-label="清空" id="clearInput">
                                    <svg class="fill-slate-700 dark:fill-slate-200" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="trash-2"><rect width="24" height="24" opacity="0"/><path d="M21 6h-5V4.33A2.42 2.42 0 0 0 13.5 2h-3A2.42 2.42 0 0 0 8 4.33V6H3a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2zM10 4.33c0-.16.21-.33.5-.33h3c.29 0 .5.17.5.33V6h-4zM18 19a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V8h12z"/><path d="M9 17a1 1 0 0 0 1-1v-4a1 1 0 0 0-2 0v4a1 1 0 0 0 1 1z"/><path d="M15 17a1 1 0 0 0 1-1v-4a1 1 0 0 0-2 0v4a1 1 0 0 0 1 1z"/></g></g></svg>
                                </button>
                                <button title="转Java类" class="w-5 mx-2 toCode" aria-label="转Java类" data="java">
                                    <i class="text-xl text-slate-700 dark:text-slate-200 devicon-java-plain"></i>
                                </button>
                                <button title="转Go结构体" class="w-5 mx-2 toCode" aria-label="转Go结构体" data="golang">
                                    <i class="text-xl text-slate-700 dark:text-slate-200 devicon-go-plain"></i>
                                </button>
                                <button title="转TS类" class="w-5 mx-2 toCode" aria-label="转TS类" data="ts">
                                    <i class="text-xl text-slate-700 dark:text-slate-200 devicon-typescript-plain"></i>
                                </button>
                                <button title="转C#类" class="w-5 mx-2 toCode" aria-label="转C#类" data="csharp">
                                    <i class="text-xl text-slate-700 dark:text-slate-200 devicon-dot-net-plain"></i>
                                </button>
                                <button title="转PHP类" class="w-5 mx-2 toCode" aria-label="转PHP类" data="php">
                                    <i class="text-xl text-slate-700 dark:text-slate-200 devicon-php-plain"></i>
                                </button>
                                <button title="转Kotlin类" class="w-5 mx-2 toCode" aria-label="转kotlin类" data="kt">
                                    <i class="text-xl text-slate-700 dark:text-slate-200 devicon-kotlin-plain"></i>
                                </button>
                            </div>
                            <div class="h-[calc(100vh-10.75rem-36px)] overflow-x-hidden rounded-b-md w-full scrollable bg-slate-100 dark:bg-slate-800 !dark:text-slate-300 text-base font-bold 2xl:text-lg break-words" id="outputStruct">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="p-6 bg-white dark:bg-slate-800 fixed bottom-0 w-full">
        <div class="mx-auto max-w-screen-xl text-center">
            <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                {% set beian = theme_mod('beian') %}
                <p>© {{ now|date('Y')}} Powered By <a target="_blank" href="https://octopuspress.dev" class="hover:underline">OctopusPress™</a>. {% if beian %}<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" rel="nofollow">{{ beian }}</a>{% endif %}</p>
            </div>
        </div>
    </footer>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ asset('/assets/js/prismjs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/json-beautiful.js') }}"></script>
{% endblock %}
