{% extends '@OctopusPress/base.html.twig' %}
{% block body %}
    <div class="container mx-auto my-5 px-4">
        <div class="isolate pt-4">
            {{ widget('breadcrumb', {template: 'summer/breadcrumb.html.twig'}) }}
        </div>
        <div class="flex pt-4 flex-col lg:flex-row">
            <div class="grow mt-4 lg:mt-0 order-last lg:order-none lg:max-w-xs">
                <div class="bg-white p-4 dark:bg-slate-800 rounded-lg">
                    <div class="">
                        <h3 class="text-xl text-slate-500 font-medium border-b pb-1 border-slate-200 after:border-b after:border-red-500 dark:border-slate-700">工具合集</h3>
                        <div class="pt-4">
                            <ul class="grid grid-cols-2 lg:grid-cols-1 gap-4 font-semibold text-slate-900 text-left dark:text-slate-500">
                                {% for item in tools %}
                                    <li class="flex my-3">
                                        {% if tool.name == item.name %}
                                            <h2 class="relative w-full pl-2 border-l-4 border-primary !text-primary">{{ item.name }}</h2>
                                        {% else %}
                                            <a href="{{item.href}}" class="relative w-full hover:underline hover:text-primary">{{item.name}}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grow lg:ml-2">
                <div>
                    <h2 class="sr-only">{{ tool.name }}</h2>
                    <div class="bg-white dark:bg-slate-800 rounded-lg" x-data="toolConvert({{ convert_extra|default("'{}'") }})">
                        <div class="p-6 relative dark:border-slate-700">
                            <form name="body" x-ref="form">
                                <input type="hidden" name="tool" value="{{name}}">
                                {% block child %}{% endblock %}
                            </form>
                        </div>
                    </div>
                </div>
                {% block append %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('assets/css/tools.css') }}" />
    {% include 'tools/tool-convert-script.html.twig' %}
{% endblock %}
