{% extends '@OctopusPress/base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="{{ asset('assets/css/tools.css') }}" />
{% include 'tools/tool-convert-script.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container mx-auto my-5 px-4" id="containerBody">
        <div class="isolate pt-4">
            {{ widget('breadcrumb', {template: 'summer/breadcrumb.html.twig'}) }}
        </div>
        <div class="flex pt-4 flex-col">
            {% set groups = tools|filter(v => v.group is defined and v.group == group) %}
            {% if  groups|length > 0 %}
            <div class="mt-4">
                <div class="bg-white py-4 dark:bg-slate-800 rounded-t-lg">
                    <div class="">
                        <ul class="flex flex-wrap font-semibold text-slate-900 text-left dark:text-slate-500">
                            {% for key,item in groups %}
                                <li class="flex py-3 ml-6 {% if tool.name == item.name %} border-b-4 border-primary {% endif %}">
                                    {% if tool.name == item.name %}
                                        <h2 id="{{ key }}" class="!text-primary">{{ item.name }}</h2>
                                    {% else %}
                                        <a href="{{ item.href }}#{{ key }}" class="relative w-full hover:underline hover:text-primary">{{item.name}}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="">
                <h2 class="sr-only">{{ tool.name }}</h2>
                <div class="bg-white dark:bg-slate-800 rounded-b-lg">
                    <div class="p-6 relative dark:border-slate-700">
                        <form name="body" x-ref="form" x-data="toolConvert({{ convert_extra|default("'{}'") }})" x-init="mode={{ mode|default(0)}},data='{{ data|default(null) }}',algo='{{ algo|default('') }}',text='{{ text|default('') }}'">
                            <input type="hidden" name="tool" value="{{name}}">
                            {% block child %}{% endblock %}
                        </form>
                    </div>
                </div>
            </div>
            {% block append %}{% endblock %}
        </div>
    </div>
{% endblock %}
